body {
    background: linear-gradient(180deg, #0F1115 0%, #17191C 100%);
    font-family: "Roboto", sans-serif; /* Alterei a fonte */
    margin: 0;
    padding: 0;
    height: 100vh;
}

.topbar {
    width: 100%;
    height: 3.9%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.blue-line {
    width: 100%;
    height: 4px;
    background-color: #31C4B9;
    position: fixed;
    top: 32px;
    left: 0;
}

h8 {
    font-size: 0.4rem;
    color: #0C1312;
    position: fixed;
    top: 0;
    right: 8px;
    margin-top: 20px;
}

h7 {
    font-size: 0.5rem; /* Reduzi o tamanho da fonte */
    color: #0C1312;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

h9 {
    font-size: 0.5rem; /* Reduzi o tamanho da fonte */
    color: #EDF0F3;
    position: relative;
    top: -2%;
    left: -2%;
    margin-top: 1px;
}

#showcase-container {
    display: flex;
    flex-direction: column; /* Modificado para uma coluna para dispositivos móveis */
    align-items: center; /* Centraliza o conteúdo */
}

.feature {
    width: 85%; /* Largura total para ocupar a largura da tela */
    height: 320px; /* Altura ajustável com base no conteúdo */
    max-height: 320px;
    background: radial-gradient(80% 80% at 50% 50%, #17191C 0%, #0F1115 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0; /* Espaçamento entre recursos */
    margin-top: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
    overflow: auto;
}

.feature::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilo do polegar da barra de rolagem (a parte que você move) */
.feature::-webkit-scrollbar-thumb {
    background-color: #31C4B9; /* Cor do polegar da barra de rolagem */
    border-radius: 3px; /* Raio do polegar da barra de rolagem */
}

/* Estilo da trilha da barra de rolagem (a parte de fundo) */
.feature::-webkit-scrollbar-track {
    background-color: #0F1115; /* Cor do fundo da barra de rolagem */
    border-radius: 3px; /* Raio da trilha da barra de rolagem */
}


img[alt="Seulink"] {
    width: 150px;
    height: 95px;
    margin-left: 57%;
}

h4 {
    text-align: left;
    font-size: 0.8rem;
    color: #1D9BB9; /* Cor inicial */
    animation: mudarCor 2s linear infinite alternate;/* 5 segundos de duração */
}

@keyframes mudarCor {
    0% {
        color: #1D9BB9; /* Azul mais claro */
    }
    25% {
        color: #15B1B1; /* Azul claro */
    }
    50% {
        color: #15A0C1; /* Azul escuro */
    }
    75% {
        color: #158FB1; /* Azul mais escuro */
    }
    100% {
        color: #15A0C1; /* Volta para o azul escuro */
    }
}


.custom-select-2 {
    position: relative;
    width: 34px;
    height: 26.5px;
    left: 85%;
    margin-bottom: -8%;
    margin-left: 1%;
}

.select-styled {
    display: flex;
    align-items: center; /* Alinhar o conteúdo verticalmente */
    height: 100%; /* Definir a altura igual à altura do select */
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #111313;
    cursor: pointer;
}

.select-styled img {
    margin-right: 3.8px; /* Espaço entre a imagem e o texto */
    max-width: 20px; /* Largura máxima da imagem */
    max-height: 20px; /* Altura máxima da imagem */
}

.select-options {
    display: none;
    position: absolute;
    width: 100%; /* Definir a largura igual à largura do select */
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    padding-left: 2px;
}

.select-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.select-options li {
    padding: 10px 10px;
    background-color: #111313;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select-options li img {
    margin-right: 3.8px; /* Espaço entre a imagem e o texto */
    max-width: 25px; /* Largura máxima da imagem */
    max-height: 25px; /* Altura máxima da imagem */
}

.select-options li:hover {
    background-color: #111313;
} 

h6 {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 2%;
    color: #ffffff; /* Cor inicial */
}

input[type="url"] {
    animation: mudarCor 0.8s linear infinite alternate;
    width: 84.7%;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 7px;
    margin-bottom: 5%;
    margin-top: 0.1%;
    background-color: #0F1115;
    color: #ffffff;
    font-family: "Lucida Console", Courier, monospace;
}

.botao-remover {
    background: linear-gradient(180deg, #FF5862 0%, #2E5692 100%); /* Cor de fundo em RGB */
    color: #fff; /* Cor do texto */
    border: none;
    margin-left: 0.2%;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lucida Console", Courier, monospace; /* Tipo de fonte desejada */
    transition: background 6s; /* Transição mais suave */
    width: 34px; height: 32px;
}

.botao-remover:hover {
    background: linear-gradient(to bottom, #FF5862, #2E5692); /* Gradiente RGB ao passar o mouse */
}

h10 {
    font-size: 0.9rem;
    margin-left: -15%;
    color: #ffffff; /* Cor inicial */
}

h11 {
    font-size: 0.9rem;
    margin-left: -6%;
    color: #ffffff; /* Cor inicial */
}


.botao-adicionar {
    background: radial-gradient(50% 50% at 50% 50%, #2DC6C8 0%, #2DFBA4 100%); /* Cor de fundo em RGB */
    color: #fff; /* Cor do texto */
    border: none;
    margin-left: 0.5%;
    padding: 5px 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lucida Console", Courier, monospace; /* Tipo de fonte desejada */
    transition: background 6s; /* Transição mais suave */
    width: 37.8%; height: 33px;
}

.botao-adicionar:hover {
    background: linear-gradient(to bottom, #2DC6C8, #2DFBA4); /* Gradiente RGB ao passar o mouse */
}

input[type="submit"] {
    background: radial-gradient(80% 80% at 80% 80%, #2DC6C8 0%, #2E5692 100%); /* Cor de fundo em RGB */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Lucida Console", Courier, monospace; /* Tipo de fonte desejada */
    font-size: 0.9rem;
    transition: background 5s; /* Transição mais suave */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Para que a margem funcione */
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2DC6C8, #2E5692); /* Gradiente RGB ao passar o mouse */
}

.bottom-bar {
    background: radial-gradient(80% 80% at 50% 50%, #17191C 0%, #0F1115 100%); /* Cor de fundo da barra */
    width: 100%; /* Largura total da página */
    height: 80px; /* Altura da barra */
    position: fixed; /* Fixa a barra na parte inferior da página */
    bottom: 0; /* Coloca a barra na parte inferior */
    left: 0; /* Alinha a barra à esquerda */
}

.white-line {
    background-color: #fff; /* Cor da linha branca */
    height: 3px; /* Altura da linha */
    width: 100%; /* Largura igual à .bottom-bar */
    margin-top: -53px;
    bottom: 100px; /* Alinha a linha com a parte inferior da .bottom-bar */
    left: 0; /* Alinha a linha com a parte esquerda da .bottom-bar */
}

.feature-right {
    width: 85%; /* Largura total para ocupar a largura da tela */
    height: 320px; /* Altura ajustável com base no conteúdo */
    max-height: 320px;
    background: radial-gradient(80% 80% at 50% 50%, #17191C 0%, #0F1115 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0; /* Espaçamento entre recursos */
    margin-top: 10%;
    margin-left: 7%;
    padding-bottom: 5%;
    padding-top: 1%;
    overflow: auto;
}

.feature-right::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilo do polegar da barra de rolagem (a parte que você move) */
.feature-right::-webkit-scrollbar-thumb {
    background-color: #31C4B9; /* Cor do polegar da barra de rolagem */
    border-radius: 3px; /* Raio do polegar da barra de rolagem */
}

/* Estilo da trilha da barra de rolagem (a parte de fundo) */
.feature-right::-webkit-scrollbar-track {
    background-color: #0F1115; /* Cor do fundo da barra de rolagem */
    border-radius: 3px; /* Raio da trilha da barra de rolagem */
}

